<p>
  <mat-toolbar color="primary">
    <span class="toolbar-text">Benachrichtigung</span>
  </mat-toolbar>
</p>

<div *ngIf="alarmSet" class="pulse-button"></div>
<button *ngIf="alarmSet" mat-flat-button color="warn" class="mqtt-button" (click)="resetAlarm()" aria-label="Example icon button with a delete icon">
  <mat-icon class="mqtt-icon">notifications_active</mat-icon>
</button>

<button *ngIf="!alarmSet" mat-flat-button color="accent" class="mqtt-button" (click)="setAlarm()" aria-label="Example icon button with a delete icon">
  <mat-icon class="mqtt-icon">notifications</mat-icon>
</button>